*{
  background: white;
}
#content
{
  background: white;
}
#left
{
  background: white;
  width: 48%;
  height: 300px;
}
#right
{
  background: white;
  width: 48%;
  height: 300px;
}
#left,#right
{
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding-top:10px;
}
#content
{
  background: white;
  font-size: 12px;
  color: black;
}
#content2
{
  background: white;
  font-size: 12px;
  color: black;*{

}
#namePage
{
  background: white;
  font-size: 30px;
  color: black;
  margin:10px;
  text-align: center;
}
img
{
  text-align: center;
}